<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guarde e gerencie seus links</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <style>
        a{
            color:#1f1f1f
            text-decoration: none;
        }
        table {
            width: 100%;
        }

        td {
            text-overflow: ellipsis ;
            max-width: 100px;
            white-space: nowrap;
            overflow: hidden;
        }
    </style>
</head>

<body>
    <div class="container mt-4">

        <!-- Add Form -->
        <a href="/"><button class="btn btn-light w-100 my-2" >Início</button></a>
        <header id="link-form" class="collapse">
            <form method="post" action="{% url 'core:save_link' %}">
                {% csrf_token %}
                {{form}}
                <br />
                <input type="submit" value="Salvar" class="btn btn-primary w-100">
            </form>
        </header>
        <button id="link_form_toggle" class="btn btn-success w-100 my-2" data-bs-toggle="collapse"
            data-bs-target="#link-form">Adicionar Link</button>

        <button class="btn btn-success w-100 my-2" data-bs-toggle="modal" data-bs-target="#tagModal">Adicionar
            Tag</button>

        <!-- Filter -->

        <div class="collapse" id="tag-form">
            <form method="get">
                {{filter.form}}
                <br />
                <input type="submit" value="Buscar" class="btn btn-primary w-100">
            </form>
            <br />
        </div>
        <button id="filter_toggle" class="btn btn-info w-100 my-2" data-bs-toggle="collapse"
            data-bs-target="#tag-form">Filtrar</button>
    </div>

    <!-- Table -->

    <main class="container">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">Url</th>
                    <th scope="col">tags</th>
                </tr>
            </thead>
            <tbody>
                {% for link in filter.qs %}
                <tr>
                    <th scope="row">{{ link.id }}</th>
                    <td style="direction: ltr;"><a href="{{ link.url }}">{{ link.url }}</a></td>
                    <td>{% for tag in link.tags.all %} <span class="badge bg-dark">{{tag}}</span>{% endfor %} </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>

    <!-- Modal -->

    <div class="modal fade" id="tagModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="post" action="{% url 'core:save_tag' %}">
                        {% csrf_token %}
                        <p>{{tag_form.name}}</p>
                        <input type="submit" value="Salvar">
                    </form>
                </div>
                <div class="modal-footer"></div>
            </div>
        </div>
    </div>


</body>
<script>
    const btn_link = document.getElementById('link_form_toggle');
    const btn_filter = document.getElementById('filter_toggle');

    btn_link.addEventListener('click', (event)=>{
        if(btn_link.getAttribute('aria-expanded') == "true")
            change_button('link_form_toggle', 'danger','Cancelar');
        else
            change_button('link_form_toggle', 'success','Adicionar Link');
    })
    
    btn_filter.addEventListener('click', (event)=>{
        if(btn_filter.getAttribute('aria-expanded') == "true")
            change_button('filter_toggle', 'warning','Cancelar');
        else
            change_button('filter_toggle', 'info','Filtrar');
    })

    function change_button(id, color, value){
        let btn = document.getElementById(id);
        btn.setAttribute("class", `btn btn-${color} w-100 my-2`);
            btn.innerHTML = value;
    }

</script>

</html>